{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c641f1de6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/Index.css">
    <title>WOWPDF | Online PDF tools for PDF lovers</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-left-1">
            <div class="main-header-logo"><h1>I<i class="fa-solid fa-heart"></i>PDF</h1></div>
        </div>
        <div class="main-header-left-2">
            <ul class="listparent">
                <li>MERGE PDF</li>
                <li>SPLIT PDF</li>
                <li>COMPRESS PDF</li>
                <li>CONVERT PDF</li>
                <li>ALL PDF TOOLS</li>
            </ul>
        </div>

        <div class="main-header-right-1">
            <div class="main-header-right-1-icon-1"><i class="fa-solid fa-bars"></i></div>
            <div class="main-header-right-1-1"><h2>Sign up</h2></div>
            <div class="main-header-right-1-2"><h2>Login</h2></div>
            <div class="main-header-right-1-icon-2" ><i class="fa-solid fa-desktop" title="iLovePDF Desktop, work offline"  ></i></div>
        </div>


    </header>




    <!-- header is completed here -->

    
</body>
</html>