{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c641f1de6c.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>WOWPDF | Online PDF tools for PDF lovers</title>
</head>
<body>
    <header class="main-header">
        <div class="main-header-left-1">
            <div class="main-header-logo"><h1>I<i class="fa-solid fa-heart"></i>PDF</h1></div>
        </div>
        <div class="main-header-left-2">
            <ul class="listparent">
                <li>MERGE PDF</li>
                <li>SPLIT PDF</li>
                <li>COMPRESS PDF</li>
                <li>CONVERT PDF</li>
                <li>ALL PDF TOOLS</li>
            </ul>
        </div>

        <div class="main-header-right-1">
            <div class="main-header-right-1-icon-1"><i class="fa-solid fa-bars"></i></div>
            <div class="main-header-right-1-1"><h2>Sign up</h2></div>
            <div class="main-header-right-1-2"><h2>Login</h2></div>
            <div class="main-header-right-1-icon-2" ><i class="fa-solid fa-desktop" title="iLovePDF Desktop, work offline"  ></i></div>
        </div>


    </header>




    <!-- header is completed here -->



    <section class="section">
        <p class="p1">Every tool you need to work with PDFs in one place</p>
        <p class="p2">Every tool you need to use PDFs, at your fingertips. All are 100% FREE and easy to use! Merge,
            <br><div>split, compress, convert, rotate, unlock and watermark PDFs with just a few clicks.</div></p>


            <main class="main">
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>
                <div><h6></h6></div>


            </main>

    </section>


    <div class="container">
        <div class="container-div-left">
            <img src="/homepage-product-1.png">
        </div>
        <div class="container-div-right">
            <h5>Looking for another solution?</h5>
            <div class="container-divs , bgcolor"><h6>iLovePDF Desktop</h6>
                <p>Download <a href="">iLovePDF Desktop</a> App to work with your favourite PDF <br>
                     tool on your Mac or Windows PC. Get a lightweight PDF app that <br>
                      help you process heavy PDF tasks offline in seconds.</p>
            </div>
            <div class="container-divs , bghovercolor"><h6>iLovePDF Mobile</h6>
                <p>Get the <a href="">iLovePDF Mobile</a> App to manage documents remotely or on <br> the move turn your Android or iphone device into a PDF Editor & <br> Scanner to annotate, sign, and share documents with ease.</p>
            </div>
            <div class="container-divs , bghovercolor"><h6>iLoveIMG</h6>
                <p><a href="">iLoveIMG</a> is the web aap that helps you modify images in bulk for free. <br> Crop, resize, compress, convert and more. All the tools you need to <br> enhance your images in just a few clicks.</p>
            </div>
        </div>
    </div>




    <div class="the-pdf-software">
        <h3 class="the-pdf-software-h3">The PDF software trusted by millions of users</h3>
        <p class="the-pdf-software-p">iLovePDF is your number 1 web app for editing PDF with ease. Enjoy all the <br> <div class="under-div">tools you need to work efficiently with your digital documents while keeping </div><br> <div class="under-div-2">your data safe and secure.</div>
        </p>
        <div class="the-pdf-software-image">
            <div class="the-pdf-software-image-div-1"><img src="/pdf-association-logo1.svg"></div>
            <div class="the-pdf-software-image-div-2"><img src="/iso-logo2.svg"></div>
            <div class="the-pdf-software-image-div-3"><img src="/ssl-encrypted-3logo.svg"></div>
        </div>

    </div>





    
</body>
</html>