
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "css/files.css" %}'>
    <title>wowpdf</title>
</head>

<body>
    <header class="header">

        <nav class="navbar">
            <h2>wowpdf</h2>
            <ul class="listitems">
                <a href="">
                    <li class="mergefile">MERGE FILE</li>
                </a>
                <a href="">
                    <li class="splitfile">SPLIT PDF</li>
                </a>
                <a href="">
                    <li class="compressfile">COMPRESS PDF</li>
                </a>
                <a href="">
                    <li class="convertpdf">CONVERT PDF</li>
                </a>
                <a href="">
                    <li class="allpdftools">ALL PDF TOOLS</li>
                </a>


            </ul>


        </nav>
    </header>

    <div class="paragraph">
        <h1><b> UPLOAD FILES</b></h1>
        <P>UPLOAD FILES YOU WANT TO use PDF tools.</P>
    </div>
    <div class="borderlogo">
        <div><img src="" alt="" class="imglogo"> </div>
        <div><img src="./Vector (3).png" alt="" class="filelogo"></div>
        <div><img src="./Vector.svg" alt="" class=" boxlogo"></div>
        <svg width="164" height="164" viewBox="0 0 164 164" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M88.8334 129.833V102.5H109.333L82.0001 68.3333L54.6667 102.5H75.1667V129.833H88.8334Z"
                fill="#BEBEBE" />
            <path
                d="M47.8334 129.833H61.5001V116.167H47.8334C36.5311 116.167 27.3334 106.969 27.3334 95.6667C27.3334 86.0727 35.5266 76.8341 45.5989 75.0642L49.5691 74.3673L50.8811 70.5542C55.6849 56.5391 67.6159 47.8334 82.0001 47.8334C100.84 47.8334 116.167 63.1606 116.167 82.0001V88.8334H123C130.537 88.8334 136.667 94.9629 136.667 102.5C136.667 110.037 130.537 116.167 123 116.167H102.5V129.833H123C138.074 129.833 150.333 117.574 150.333 102.5C150.323 96.3747 148.26 90.4295 144.475 85.6138C140.69 80.798 135.4 77.3893 129.451 75.9321C126.465 52.4118 106.327 34.1667 82.0001 34.1667C63.1674 34.1667 46.8084 45.1752 39.3396 62.5251C24.6616 66.9121 13.6667 80.7701 13.6667 95.6667C13.6667 114.506 28.9939 129.833 47.8334 129.833Z"
                fill="#BEBEBE" />
        </svg>

        <p>Drag & Drop or <span class="browsered"> Browse</span> Your File</p>
    </div>
    <!-- <input type="file"> -->

    <label for="uploadpdffile" class="upload">Upload </label>
    <input id="uploadpdffile" type="file">

    <h5>Uploded files</h5>

    <div class="uplodesilver">
        <div class="uplodered">


        </div>

        <p class="pdf1">Assignment 1.pdf</p>
        <p class="pdf2">Assignment 2.pdf</p>
        <p class="uplodepra1">10.3 of 15.2 MB</p>
    </div>
    <img src="./ACP_PDF 2_file_document 3 (1).png" alt="" class="png1">
    <img src="./akar-icons_cross (1).png" alt="" class="akaricon1">
    <br>
    <br>
    <br>
    <img src="./ACP_PDF 2_file_document 3 (1).png" alt="" class="png2">
    <img src="./akar-icons_cross (1).png" alt="" class="akaricon2">
    <div class="uplodesfilesilver">


        <div class="uplodesfilesred">

        </div>
        <p class="uplodepra2">10.3 of 9.46 MB</p>

    </div>







</body>

</html>